<section id="education" class="section section-education">
    <div class="animate-up">
        <h2 class="section-title">Études</h2>
        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                {% for etude in etudes  %}
                    <div class="timeline-box timeline-box-compact timeline-box-{{ etude.cote }}">
                        <span class="dot"></span>
                        <div class="timeline-box-inner animate-{{ etude.inverse }}">
                            <span class="arrow"></span>
                            <div class="date"><span>{{ etude.periode }}</span></div>
                            <h3>{{ etude.libelle }}</h3>
                            <h4>{{ etude.description }}</h4>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section><!-- #education -->
