<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title">Expériences professionnelles</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                {% for exp in experiences %}
                    <div class="timeline-box timeline-box-{{ exp.cote }}">
                        <span class="dot"></span>
                        <div class="timeline-box-inner animate-{{ exp.inverse }}">
                            <span class="arrow"></span>
                            <div class="date">{{ exp.periode }}</div>
                            <h3>{{ exp.nomEntreprise }}</h3>
                            <h4>{{ exp.metier }}</h4>
                            <p>{{ exp.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section><!-- #experience -->
