<section id="interests" class="section section-interests">
    <div class="animate-up">
        <h2 class="section-title">Mes centres d'interêt</h2>

        <div class="section-box">
            <p></p>

            <ul class="interests-list">
                <li>
                    <i class="map-icon map-icon-airport"></i>
                    <span>Voyager</span>
                </li>
                <li>
                    <i class="map-icon map-icon-movie-theater"></i>
                    <span>Regarder des films</span>
                </li>
                <li>
                    <i class="map-icon map-icon-cafe"></i>
                    <span>Le café !</span>
                </li>
                <li>
                    <i class="map-icon map-icon-bar"></i>
                    <span>Sortir</span>
                </li>
                <li>
                    <i class="map-icon map-icon-search"></i>
                    <span>Développer</span>
                </li>
                <li>
                    <i class="map-icon map-icon-pet-store"></i>
                    <span>Les chats !</span>
                </li>
                <li>
                    <i class="map-icon map-icon-swimming"></i>
                    <span>Swimming</span>
                </li>
            </ul>
        </div>
    </div>
</section><!-- #interests -->


<section id="clients" class="section section-clients">
    <div class="animate-up">

        <div class="clients-carousel">
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-bootstrap.png') }} title="Bootstrap" alt="Bootstrap"/>
            </div>
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-discord.png') }} title="Discord" alt="Discord"/>
            </div>
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-github.png') }} title="Github" alt="Github"/>
            </div>
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-reddit.png') }} title="Reddit" alt="Reddit"/>
            </div>
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-steam.png') }} title="Steam" alt="Steam"/>
            </div>
            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-symfony.png') }} title="Symfony" alt="Symfony"/>
            </div>

            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-codepen.png') }} title="Codepen.io" alt="Codepen.io"/>
            </div>

            <div class="client-logo">
                <img src={{ asset('Assets/img/uploads/logos/logo-elementary.png') }} title="Elementary Os" alt="Elementary Os"/>
            </div>


        </div>
    </div>
    </br></br></br></br></br>
    <h2 class="section-title">Mes projets</h2>
    </br></br>


</section><!-- #clients -->
