<!-- START: PAGE CONTENT -->
<section id="blog" class="section">
<div class="blog">
    <div class="blog-grid">
        <div class="grid-sizer"></div>
        {% for projet in projets  %}
            <div class="grid-item">
                <article class="post-box animate-up">
                    <div class="post-media">
                        <div class="post-image">
                            <a href="single.html"><img src={{ asset('Assets/img/uploads/portfolio/portfolio-thumb-05-610x600.jpg') }} alt=""> </a>
                        </div>
                    </div>

                    <div class="post-data">
                        <time class="post-datetime" {{ projet.date|date("m/d/Y", "Europe/Paris")  }}>
                            <span class="day">{{ projet.date|date("d", "Europe/Paris")  }}</span>
                            <span class="month">{{ projet.date|date("M", "Europe/Paris")  }}</span>
                        </time>

                        <div class="post-tag">
                            <a href="">#{{ projet.categorie }}</a>
                        </div>

                        <h3 class="post-title">
                            <a href="single-image.html">{{ projet.titre }}</a>
                        </h3>

                        <div class="post-info">
                            <p>{{ projet.description }}</p>
                            <a href=""><i class="icon icon-link"></i>{{ projet.link }}</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}


    </div><!-- .blog-grid -->
</div><!-- .blog -->

</section>
<!-- END: PAGE CONTENT -->