<div class="sidebar sidebar-fixed">
    <button class="btn-sidebar btn-sidebar-close"> <i class="icon icon-close"></i></button>

    <div class="widget-area">
        <aside class="widget widget-profile">
            <div class="profile-photo">
                <img src={{ asset('Assets/img/DAV.png') }}alt="David MOLINARI"/>
            </div>
            <div class="profile-info">
                <h2 class="profile-title">David MOLINARI</h2>
                <h3 class="profile-position">Étudiant & apprenti développeur</h3>
            </div>
        </aside><!-- .widget-profile -->

        <aside class="widget widget_contact">
            <h2 class="widget-title">Me contacter</h2>

        </aside><!-- .widget_contact -->

        <aside class="widget widget-popuplar-posts">
            <h2 class="widget-title">Projets épinglés</h2>
            <ul>
                {% for projet in projets|slice(1, 3)  %}
                <li>
                    <div class="post-media"><a href="">
                            <img src={{ asset('Assets/img/projets/'~ projet.nomImage ~'.jpg ') }} class="littlethumb" alt=""></a>
                    </div>
                    <h3 class="post-title">
                        <a href="">{{ projet.titre }}</a></h3>
                    <div class="post-info"><a href=""><p class="coneAss" title="{{ projet.description }}">{{ projet.description }}</p></a>
                        <a href="{{ projet.link }}"><p>Lien vers le projet</p></a></div>
                <li>
                {% endfor %}
            </ul>
        </aside><!-- .widget-projets -->

        <aside class="widget widget_tag_cloud">
            <h2 class="widget-title">Centres d'intérets</h2>
            <div class="tagcloud">
                {% for pitchoune in competences  %}
                    <a href="" title="1 topic">{{ pitchoune.libelle }}</a>
                {% endfor %}

            </div>
        </aside><!-- .widget_Interets -->
    </div><!-- .widget-area -->
</div><!-- .sidebar -->
