<div class="sidebar sidebar-fixed">
    <button class="btn-sidebar btn-sidebar-close"> <i class="icon icon-close"></i></button>

    <div class="widget-area">
        <aside class="widget widget-profile">
            <div class="profile-photo">
                <img src="#" alt="David MOLINARI"/>
            </div>
            <div class="profile-info">
                <h2 class="profile-title">David MOLINARI</h2>
                <h3 class="profile-position">Étudiant & apprenti développeur</h3>
            </div>
        </aside><!-- .widget-profile -->

        <aside class="widget widget_contact">
            <h2 class="widget-title">Me contacter</h2>
            <form class="contactForm" action="#" method="post">
                <div class="input-field">
                    <input class="contact-name" type="text" name="name"/>
                    <span class="line"></span>
                    <label>Nom</label>
                </div>

                <div class="input-field">
                    <input class="contact-email" type="email" name="email"/>
                    <span class="line"></span>
                    <label>Email</label>
                </div>

                <div class="input-field">
                    <input class="contact-subject" type="text" name="subject"/>
                    <span class="line"></span>
                    <label>Objet</label>
                </div>

                <div class="input-field">
                    <textarea class="contact-message" rows="4" name="message"></textarea>
                    <span class="line"></span>
                    <label>Message</label>
                </div>

                <span class="btn-outer btn-primary-outer ripple">
						<input class="contact-submit btn btn-lg btn-primary" type="submit" value="Envoyer"/>
					</span>
                <div class="contact-response"></div>
            </form>
        </aside><!-- .widget_contact -->

        <aside class="widget widget-popuplar-posts">
            <h2 class="widget-title">Projets épinglés</h2>
            <ul>
                {% for projet in projets|slice(1, 3)  %}
                <li>
                    <div class="post-media"><a href="">
                            <img src={{ asset('Assets/img/projets/'~ projet.nomImage ~'.jpg ') }} class="littlethumb" alt=""></a>
                    </div>
                    <h3 class="post-title">
                        <a href="">{{ projet.titre }}</a></h3>
                    <div class="post-info"><a href=""><p class="coneAss" title="{{ projet.description }}">{{ projet.description }}</p></a>
                        <a href="{{ projet.link }}"><p>Lien vers le projet</p></a></div>
                <li>
                {% endfor %}
            </ul>
        </aside><!-- .widget-projets -->

        <aside class="widget widget_tag_cloud">
            <h2 class="widget-title">Centres d'intérets</h2>
            <div class="tagcloud">
                {% for pitchoune in competences  %}
                    <a href="" title="1 topic">{{ pitchoune.libelle }}</a>
                {% endfor %}

            </div>
        </aside><!-- .widget_Interets -->
    </div><!-- .widget-area -->
</div><!-- .sidebar -->
