<!DOCTYPE html>
<html lang="fr" class="theme-color-e83b35 theme-skin-light">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>David MOLINARI</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href={{ asset('Assets/img/favicon.png') }}/>

    <!-- Icon Fonts -->
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/fonts/map-icons/css/map-icons.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/fonts/icomoon/style.css') }}>


    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.bxslider/jquery.bxslider.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.customscroll/jquery.mCustomScrollbar.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.mediaelement/mediaelementplayer.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.fancybox/jquery.fancybox.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.bxslider/jquery.bxslider.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.owlcarousel/owl.carousel.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.owlcarousel/owl.theme.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/js/plugins/jquery.optionpanel/option-panel.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/css/style.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Assets/css/color.css') }}>


    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">


</head>

{% block body %}{% endblock %}

<footer>
    <!-- Scripts -->
    <script type="text/javascript" src={{ asset('Assets/js/site.min.js') }}></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src={{ asset('Assets/js/libs/modernizr.js') }}></script>
</footer>
</html>